<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Names-&amp;-IDs" data-toc-modified-id="Names-&amp;-IDs-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Names &amp; IDs</a></span></li><li><span><a href="#Problem-#-A" data-toc-modified-id="Problem-#-A-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Problem # A</a></span><ul class="toc-item"><li><span><a href="#A-1" data-toc-modified-id="A-1-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>A-1</a></span></li><li><span><a href="#A-2" data-toc-modified-id="A-2-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>A-2</a></span></li><li><span><a href="#A-3" data-toc-modified-id="A-3-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>A-3</a></span></li><li><span><a href="#A-4" data-toc-modified-id="A-4-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>A-4</a></span></li><li><span><a href="#A-5" data-toc-modified-id="A-5-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>A-5</a></span></li><li><span><a href="#A-6" data-toc-modified-id="A-6-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>A-6</a></span></li></ul></li><li><span><a href="#Problem-#-B" data-toc-modified-id="Problem-#-B-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Problem # B</a></span><ul class="toc-item"><li><span><a href="#B-1" data-toc-modified-id="B-1-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>B-1</a></span></li><li><span><a href="#B-2" data-toc-modified-id="B-2-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>B-2</a></span></li><li><span><a href="#B-3" data-toc-modified-id="B-3-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>B-3</a></span></li><li><span><a href="#B-4" data-toc-modified-id="B-4-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>B-4</a></span></li><li><span><a href="#B-5" data-toc-modified-id="B-5-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>B-5</a></span></li></ul></li></ul></div>

# Names & IDs

In [ ]:
Group Number= ''

In [ ]:
Name= 'First_Name  Last_Name'    ID= 202012345

# Problem # A

## A-1

In [7]:
#Answer for A-1
import pandas as pd
df = pd.read_csv('HW5Data1.csv',delimiter=',')
display(df)

rows,cols = df.shape
print(f"Number of rows   : {rows}")
print(f"Number of Columns: {cols}")

display(df.describe(include='object'))
display(df.describe(exclude='object'))

,Application. ID,Age,Gender,Location,Parents Edu.,Siblings,RAM-1 Score,RAM-2 Score,HS Score,School Rank,SOP,Admission Status
0,Ref#12436,23 yrs,Male,Eastern,F,No,54,64,30%,Avg,2.5,No
1,Ref#22094,20 yrs,Female,Western,M+F,No,34,27,40%,Avg,1.5,No
2,Ref#39403,19 yrs,Female,Central,M+F,No,48,38,100%,High,2.5,Yes
3,Ref#43891,16 yrs,Male,Eastern,M+F,Yes,81,97,44%,Low,1.5,Yes
4,Ref#57083,19 yrs,Female,Eastern,M,No,56,67,78%,Low,2.5,No
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Ref#49966,20 yrs,Male,Central,M,Yes,25,20,80%,High,2.5,Yes
4996,Ref#49975,20 yrs,Female,Eastern,F,No,59,70,70%,Low,1.5,No
4997,Ref#49989,17 yrs,Female,Central,F,No,55,66,46%,Avg,4.5,Yes
4998,Ref#49997,20 yrs,Female,Central,M+F,No,54,64,65%,High,3.0,No
4999,Ref#50007,15 yrs,Female,Central,M,Yes,53,63,22%,High,2.5,No

Number of rows   : 5000
Number of Columns: 12

,Application. ID,Age,Gender,Location,Parents Edu.,Siblings,HS Score,School Rank,Admission Status
count,5000,5000,5000,5000,5000,5000,5000,5000,5000
unique,4952,9,2,3,3,2,91,3,2
top,Ref#33194,16 yrs,Female,Central,M+F,No,40%,Avg,Yes
freq,2,596,2508,1688,1695,2548,72,1672,3378

       RAM-1 Score  RAM-2 Score          SOP
count  5000.000000  5000.000000  5000.000000
mean     55.100000    58.611200     2.889600
std      26.220608    33.471321     1.128435
min      10.000000     8.000000     1.000000
25%      33.000000    26.000000     2.000000
50%      55.000000    66.000000     3.000000
75%      78.000000    93.000000     4.000000
max     100.000000   100.000000     5.000000

## A-2

In [9]:
#Answer for A-2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Application. ID   5000 non-null   object
 1   Age               5000 non-null   object
 2   Gender            5000 non-null   object
 3   Location          5000 non-null   object
 4   Parents Edu.      5000 non-null   object
 5   Siblings          5000 non-null   object
 6   RAM-1 Score       5000 non-null   int64
 7   RAM-2 Score       5000 non-null   int64
 8   HS Score          5000 non-null   object
 9   School Rank       5000 non-null   object
 10  SOP               5000 non-null   float64
 11  Admission Status  5000 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 468.9+ KB

## A-3

In [ ]:
#Answer for A-3

## A-4

In [ ]:
#Answer for A-4

## A-5

In [ ]:
#Answer for A-5

## A-6

In [ ]:
#Answer for A-6

# Problem # B

## B-1

In [ ]:
#Answer for B-1

## B-2

In [ ]:
#Answer for B-2

## B-3

In [ ]:
#Answer for B-3

## B-4

In [ ]:
#Answer for B-4

## B-5

In [ ]:
#Answer for B-5