In [7]:
import pandas as pd

In [8]:
# Read the csv file
df = pd.read_csv("../Assessment Records Input.csv",delimiter=",")
df

,dTXYEAR,dROLLNMBR,dASSESSMENTBASE,dASSESSCD,dASSESSTYPE,dASSESSVALLAND,dASSESSVALIMPR,dASSESSVALOTHER,dASSESSCHANGECD,dASSESSVALEXMPTLAND,dASSESSVALEXMPTIMPR,dASSESSVALEXMPTOTH
0,2021,200,4,30,0,286900,0,0,AA,74590,0,0
1,2021,275,4,30,0,233100,0,0,AA,60610,0,0
2,2021,300,4,12,0,76500,142400,0,AA,34430,64080,0
3,2021,300,4,30,0,86200,10500,0,AA,22410,2730,0
4,2021,350,4,30,0,233300,0,0,AA,60660,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6465,2021,2000020,1,60,0,0,498300,0,AA,0,323900,0
6466,2021,2000030,1,60,0,0,244700,0,AA,0,159060,0
6467,2021,2000040,1,60,0,0,18300,0,AA,0,11900,0
6468,2021,2000050,1,60,0,0,3082200,0,AA,0,2003430,0
6469,2021,2000060,1,60,0,0,65500,0,AA,0,42580,0

In [9]:
# Uniques codes and postfixes for output column fields
codes = [11,12,20,30,31,32,40,51,52,60,70,80]
postfix = ["LAN","BLD"]

# Create the column names for the output data frame
columnNames = ["CLASS" + str(code) + word for code in codes for word in postfix]

# TEST ME
columnNames

['CLASS11LAN',
 'CLASS11BLD',
 'CLASS12LAN',
 'CLASS12BLD',
 'CLASS20LAN',
 'CLASS20BLD',
 'CLASS30LAN',
 'CLASS30BLD',
 'CLASS31LAN',
 'CLASS31BLD',
 'CLASS32LAN',
 'CLASS32BLD',
 'CLASS40LAN',
 'CLASS40BLD',
 'CLASS51LAN',
 'CLASS51BLD',
 'CLASS52LAN',
 'CLASS52BLD',
 'CLASS60LAN',
 'CLASS60BLD',
 'CLASS70LAN',
 'CLASS70BLD',
 'CLASS80LAN',
 'CLASS80BLD']

In [10]:
# get the unique roll numbers (without duplicates)
roll_number = df['dROLLNMBR'].unique()
out_df = pd.DataFrame(index=roll_number,columns=columnNames).fillna(0)
out_df.index.name = "ROLL"
out_df

,CLASS11LAN,CLASS11BLD,CLASS12LAN,CLASS12BLD,CLASS20LAN,CLASS20BLD,CLASS30LAN,CLASS30BLD,CLASS31LAN,CLASS31BLD,...,CLASS51LAN,CLASS51BLD,CLASS52LAN,CLASS52BLD,CLASS60LAN,CLASS60BLD,CLASS70LAN,CLASS70BLD,CLASS80LAN,CLASS80BLD
ROLL,,,,,,,,,,,,,,,,,,,,,
200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
275,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
350,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
390,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000030,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000060,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
for index in range(len(roll_number)):
    temp_df = df.loc[df['dROLLNMBR'] == roll_number[index]]
    unique_assescd = temp_df['dASSESSCD'].unique()

    for assescd in unique_assescd:
        selected_df =  df.loc[(df['dASSESSCD'] == assescd) & (df['dROLLNMBR'] == roll_number[index])]

        out_df.loc[roll_number[index],"CLASS" + str(assescd)+"LAN"] = selected_df['dASSESSVALLAND'].sum()
        out_df.loc[roll_number[index],"CLASS" + str(assescd)+"BLD"] = selected_df['dASSESSVALIMPR'].sum()

In [12]:
out_df.to_csv('output.csv')