In [2]:
from IPython.core.display_functions import display
import pandas as pd

df =pd.read_csv('Dataset-1.csv',delimiter=",")
display(df)

,Country,Population,Overall Life,Male Life,Female Life,Continent,Subregion
0,People's Republic of China,"1,433,783,686",75.500,73.500,77.900,NaN,Eastern Asia
1,India,"1,366,417,754",68.500,67.300,69.800,Asia,Southern Asia
2,United States,"329,064,917",79.800,77.500,82.100,North America,Northern America
3,Indonesia,"270,625,568",72.700,67.300,69.800,Asia,South-eastern Asia
4,Pakistan,"216,565,318",67.700,65.800,69.800,Asia,Southern Asia
5,Brazil,"211,049,527",NaN,70.200,77.500,South America,South America
6,Nigeria,"200,963,599",53.400,-52.400,54.500,Africa,Western Africa
7,Bangladesh,"163,046,161",73.200,71.000,75.400,Asia,Southern Asia
8,Russia,"145,872,256",70.300,64.300,76.400,Asia,Eastern Europe
9,Mexico,"127,575,529",75.900,73.100,78.800,North America,Central America
10,Jersey,"126,860,301",0.819,0.794,0.845,Europe,Eastern Asia
11,Ethiopia,"112,078,730",62.200,59.800,64.700,Africa,Eastern Africa
12,Philippines,"108,116,615",69.200,65.700,72.900,Asia,South-eastern Asia
13,Egypt,"100,388,073",72.700,71.400,74.200,Africa,Northern Africa
14,Germany,"83,517,045",80.700,78.400,83.100,Europe,Western Europe
15,Turkey,"83,429,615",74.800,72.500,77.300,Asia,Western Asia
16,Iran,"82,913,906",71.400,69.800,73.100,Asia,Southern Asia
17,Thailand,"69,037,513",74.700,71.500,78.000,Asia,South-eastern Asia
18,United Kingdom,"67,530,172",80.700,78.500,83.000,Europe,Northern Europe
19,"France, metropolitan","65,129,728",81.800,78.700,85.100,Europe,Western Europe
20,Italy,"60,550,075",82.200,79.600,85.000,Europe,Southern Europe
21,South Africa,"58,558,270",63.100,61.600,64.600,Africa,Southern Africa
22,Tanzania,"58,005,463",62.200,60.800,63.600,Africa,Eastern Africa
23,Kenya,"52,573,973",64.000,62.600,65.500,Africa,Eastern Africa
24,South Korea,"51,225,308",82.400,79.300,85.800,Asia,Eastern Asia

In [3]:
selected_cols = df.select_dtypes(exclude='object').columns
df[selected_cols] = df[selected_cols].applymap(lambda x: x if x >= 0 else abs(x))
df

,Country,Population,Overall Life,Male Life,Female Life,Continent,Subregion
0,People's Republic of China,"1,433,783,686",75.500,73.500,77.900,NaN,Eastern Asia
1,India,"1,366,417,754",68.500,67.300,69.800,Asia,Southern Asia
2,United States,"329,064,917",79.800,77.500,82.100,North America,Northern America
3,Indonesia,"270,625,568",72.700,67.300,69.800,Asia,South-eastern Asia
4,Pakistan,"216,565,318",67.700,65.800,69.800,Asia,Southern Asia
5,Brazil,"211,049,527",NaN,70.200,77.500,South America,South America
6,Nigeria,"200,963,599",53.400,52.400,54.500,Africa,Western Africa
7,Bangladesh,"163,046,161",73.200,71.000,75.400,Asia,Southern Asia
8,Russia,"145,872,256",70.300,64.300,76.400,Asia,Eastern Europe
9,Mexico,"127,575,529",75.900,73.100,78.800,North America,Central America
10,Jersey,"126,860,301",0.819,0.794,0.845,Europe,Eastern Asia
11,Ethiopia,"112,078,730",62.200,59.800,64.700,Africa,Eastern Africa
12,Philippines,"108,116,615",69.200,65.700,72.900,Asia,South-eastern Asia
13,Egypt,"100,388,073",72.700,71.400,74.200,Africa,Northern Africa
14,Germany,"83,517,045",80.700,78.400,83.100,Europe,Western Europe
15,Turkey,"83,429,615",74.800,72.500,77.300,Asia,Western Asia
16,Iran,"82,913,906",71.400,69.800,73.100,Asia,Southern Asia
17,Thailand,"69,037,513",74.700,71.500,78.000,Asia,South-eastern Asia
18,United Kingdom,"67,530,172",80.700,78.500,83.000,Europe,Northern Europe
19,"France, metropolitan","65,129,728",81.800,78.700,85.100,Europe,Western Europe
20,Italy,"60,550,075",82.200,79.600,85.000,Europe,Southern Europe
21,South Africa,"58,558,270",63.100,61.600,64.600,Africa,Southern Africa
22,Tanzania,"58,005,463",62.200,60.800,63.600,Africa,Eastern Africa
23,Kenya,"52,573,973",64.000,62.600,65.500,Africa,Eastern Africa
24,South Korea,"51,225,308",82.400,79.300,85.800,Asia,Eastern Asia

In [5]:
null_cols = df.columns[df.isna().any()]
null_cols2 = df[df.isna().any()].columns

for c in  null_cols:
    value =  df[c].mean() if df[c].dtype != 'object' else df[c].mode()
    df[c].fillna(value,inplace=True)
df

C:\Users\shena\AppData\Local\Temp\ipykernel_19332\2830551700.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  null_cols2 = df[df.isna().any()].columns

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [ ]:
selected_cols = df.loc[:,"Overall Life":"Female Life"].columns
df[selected_cols]=df[selected_cols].applymap(lambda x: x if x>1 else 100*x)


#5.  Display the transformed Dataset
display(df)

In [ ]:
df = pd.read_csv('Dataset-2.csv',delimiter=",")
df.head()

In [ ]:
print(df.select_dtypes("object").describe().loc['unique',:])
df['education'].unique().tolist()

In [ ]:
unknown_index = df[df['education'] == 'unknown'].index
df.drop(unknown_index,inplace=True)
df

In [ ]:
df["education"] = df["education"].map(dict({'primary':1,'secondary':2,"tertiary":3}))
df

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
scalar.fit(df[['age']])
df['age'] = scalar.transform(df[['age']])
df['age']

In [ ]:
from sklearn.preprocessing import StandardScaler