============================================================================================

**Question 1 [3 points]**: Given the two lists below, write **a single line python statement** to:

  **1.a-** create a new list of students whose credit hours are > 15, where each element in the new list is a tuple of student's name and his credit hours. 
    
  **1.b-** creat another new list contining the student name and the number of courses he is taking. The number of courses are calculated based on the number credit hours, assuming that all the courses are of 2 credit hours. **Hint:** Use anonymous lambda function. 

`students= ['Sam','Fahd', 'Saleh', 'Salem', 'Ahmed', 'Ryan']`

`creditsHours= [18, 12, 16, 14, 16, 18 ]`

In [ ]:
students= ['Sam','Ahmed', 'Saleh', 'Salem', 'Ahmed', 'Ryan']
creditsHours= [13, 14, 12, 16, 18, 17 ]
S = [(students[i],creditHours[i]) for i in range(len(creditHours)) if creditHours>15 ]
# Answer for 1.a

# Quiz-1
    
    Name:=                     ,ID:=             ,      Maximum Marks:=10         Time: 25 minutes

In [ ]:
# Answer for 1.b

============================================================================================

**Question 2 [4 points]**: Create a random integer numpy nd-array, with the name **x1**, of size 5x3, where the integer values range from 3 to 10 inclusive. Set the random generator seed to be 100. Then, write **a single line of python code** for each of the following:

  a- printing the elements of **x1** except the first column

  b- printing the elements of  the first row of **x1**

  c- printing the elements of  the last two colums of **x1**

In [ ]:
#Creating a random array x1
import numpy as np 
np.random.seed(100)
x1=np.random.randint(3,10,(5,3))

In [ ]:
#a-printing the elements of x1 except the last column
print(x1[:,1:])

In [ ]:
#b-printing the elements of the last column of x1
print(x1[0:1,:])

In [ ]:
#c- printing the elements of the last two rows of x1
print(x1[:1:])

=======================================================================================

**Question 3 [3 points]** : Write a single line python statement for each of the following:

a- Create an array **x2** out of the list `[1, 4, 6, 7, 8, 9, 11, 10 15]`

b- Using masking, print the odd elements of **X2**

In [ ]:
# a- Create an array x2 out of the list [1, 4, 6, 7, 8, 9, 11, 10 15]
import numpy as np
list1=[1, 4, 6, 7, 8, 9, 11, 10 15]
x=np.array(list1)

In [ ]:
#b- Using masking, print the odd elements of x2
print(x[x%2==1])